Top_dow_\Top_Down\Binaries\*
Top_dow_\Top_Down\Saved\*
/Top_dow_/Top_Down/Binaries
/Top_dow_/Top_Down/Build
/Top_dow_/Top_Down/Intermediate
/Top_dow_/Top_Down/Intermediate
/Top_dow_/Top_Down/Saved
/Top_dow_/Top_Down/Saved
/Top_dow_/Top_Down/Saved/Autosaves
/Top_dow_/Top_Down/Intermediate
Top_dow_/Top_Down/Intermediate/Build/BuildRules/EpicTemplatesModuleRules.dll
Top_dow_/Top_Down/Intermediate/Build/BuildRules/EpicTemplatesModuleRules.dll
/Top_dow_/Top_Down/Saved
/Top_dow_/Top_Down/Intermediate
/Top_dow_/Top_Down/Intermediate
Top_dow_/Top_Down/Intermediate/Build/Win64/ActionHistory.bin
/Top_dow_/Top_Down/Saved
/Top_dow_/Top_Down/Saved
Top_dow_/Top_Down/Intermediate/Build/Win64/ActionHistory.bin
Top_dow_/Top_Down/Intermediate/Build/Win64/x64/EpicTemplates/Development/Makefile.bin
Top_dow_/Top_Down/Intermediate/CachedAssetRegistry_0.bin
Top_dow_/Top_Down/Intermediate/ReimportCache/3688439234.bin
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Core/BP_GameMode_TopDown_Auto1.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Core/BP_PlayerCharacter_Auto1.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Core/BP_PlayerCharacter_Auto2.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Core/BP_PlayerCharacter_Auto3.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Core/BP_PlayerCharacter_Auto4.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Enemies/Warrior/ANS_BlockDetection_Auto1.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Enemies/Warrior/ANS_BlockDetection_Auto2.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Enemies/Warrior/ANS_BlockDetection_Auto3.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Projectiles/BP_WindupProjectile_Auto1.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Projectiles/BP_WindupProjectile_Auto2.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Projectiles/BP_WindupProjectile_Auto3.uasset
Top_dow_/Top_Down/Saved/Autosaves/Game/EpicTemplates/TopDownTemplate/Blueprints/Projectiles/BP_WindupProjectile_Auto5.uasset
Top_dow_/Top_Down/Saved/Autosaves/PackageRestoreData.json
Top_dow_/Top_Down/Saved/AutoScreenshot.png
Top_dow_/Top_Down/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Top_dow_/Top_Down/Saved/Config/WindowsEditor/Game.ini
Top_dow_/Top_Down/Saved/Logs/EpicTemplates-backup-2025.05.15-13.55.38.log
Top_dow_/Top_Down/Saved/Logs/EpicTemplates-backup-2025.05.21-11.31.25.log
Top_dow_/Top_Down/Saved/Logs/EpicTemplates-backup-2025.05.21-12.59.27.log
Top_dow_/Top_Down/Saved/Logs/EpicTemplates.log
Top_dow_/Top_Down/Saved/SourceControl/UncontrolledChangelists.json
Top_dow_/Top_Down/Saved/Logs/EpicTemplates.log
Top_dow_/Top_Down/Saved/Logs/EpicTemplates-backup-2025.05.21-12.59.27.log
